@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="text-center">
    <h1 class="display-4">Pj Metz</h1>
    <p>Find presentations, projects, and more!</p>
</section>
<section id="icons" class="fa" style=" font-size:25px ">
    <section class="icons">
        <a href="https://twitter.com/metzinaround" target="_blank" class="fa fa-twitter"></a>
    </section>
    <section class="icons">
        <a href="https://www.instagram.com/metzin_around" target="_blank" class="fa fa-instagram"></a>
    </section>
    <section class="icons">
        <a href="https://www.github.com/metzinaround" target="_blank" class="fab fa-github"></a>
    </section>
    <section class="icons">
        <a href="https://www.twitch.com/metzinaround" target="_blank" class="fab fa-twitch"></a>
    </section>
    <section class="icons">
        <a href="https://www.linkedin.com/in/%F0%9F%87%B5%F0%9F%87%B7-philip-metz-86a4a615a/" target="_blank" class="fab fa-linkedin"></a>
    </section>
</section>
<h1>Projects I've made or worked on</h1>
<section class="projects">
    <section class="ynfp">
        <h3>Your New Favorite Poem</h3>
        <h4> A website with great poems from modern writers</h4>
        <a href="https://yournewfavoritepoem.azurewebsites.net/" target="_blank"><img src="https://lh3.googleusercontent.com/n6MqndtJ-0ymhQcYenHPmgU3-Ao7NEpGgBlCFFe6vQShcn0DHOxIPCilQN3_F9ZNP5nQULLNGHqPqy4ZwjOraEkmO_VtHPu-ZaOWGVFYEA9UOh7IV4pBA-89xEWds-1XUrIVeSZUfy0=w2400" alt="a screenshot of my website Your New Favorite Poem." /></a>
    </section>
    <section class="shania">
        <h3>Shania Bot</h3>
        <h4>A Twitter bot that tweets "...let's go girls' every day. </h4>
        <a href="https://twitter.com/bot_shania" target="_blank"><img src="https://lh3.googleusercontent.com/B4lXeBRN8BEKQNXuGgAkHHDWjrPkn8yyqUTI3jy1zXiucgifzRKuPq3VjSHczkyeP_vlisOrhYRtSB7rbYkGrpQmPAEenEPKjfBOhZT_9FpFnvchYU7WZ9fBDeJYo9lW5iUTWJw7JEY=w2400" alt="A picture of shania twain from her music video for 'Man I feel like a woman'" /></a>
    </section>
</section>
<section>
    <h1> Previous Presentations</h1>
    <section class="presented">
        <h3 style="color:white">Start.Dev.Change</h3>
        <br />
        <a href="https://drive.google.com/file/d/1_tjXbQ6V82qgNsS0F7y5YhXw6QqUtTu3/view?usp=sharing" target="_blank"><img src="https://lh3.googleusercontent.com/OcUB9Hg9ItUQ95DdcnXhP3PI3aS1_sGxyyURLb-7VYtZZUTs5xp6_2chTZOPLlk6QNGM6mL8RK3uRDE-36Ty0pH_uqsi_aCTvOxSN4a1gzZtGpfXDc8MchUxJyRZDwroZl4eWFhl754" alt="A screeshot of the opening slide of mt presentation from Start.Dev.Change. It is vibrantly colored and contains the title of the speech 'Confusion is the sweat of learning." /></a>
    </section>
    <br />
    <br />
</section>


