@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pj Metz's Speech Resource Page</h1>
    <p>Find presentations, contact info, and more!</p>
</div>
